@charset 'UTF-8';
 
// 1.Base
@import 'mixin/theme-aware.scss';

.root {
	@include theme-aware('background', 'colour-background');
	height: 100vh;
	width: 100vw;
}

.container {
	padding-left: 0 !important;
	padding-right: 0 !important;
}

.app-container {
	position: relative;;
	top: 7.5vh;
	width: 90vw;
	height: 85vh;
	@include theme-aware('box-shadow', 'box-shadow');
}

#app-header {
	padding: 2rem;
	@include theme-aware('background', 'app-header');
}

#header {
	@include theme-aware('color', 'app-header-text')
}

.select {
    position: relative;
    display: inline-block;
    width: 320px;
	font: 400 13px/20px 'Source Sans Pro', sans-serif;
	color: unset !important;
}

.select .label {
	@include theme-aware('color', 'app-header-text')
}

.select:focus {
    outline: 0;
}
.select:focus .selection {
    box-shadow: 0 0 1px 1px #00a9e0;
}

.select .selection {
    position: relative;
    padding: 5px;
    border: 1px solid #ddd;
    background: red !important;
}

.select .value {
    position: relative;
    display: inline-block;
    padding: 5px 10px;
}

.select .options {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    border: solid #ddd;
    border-width: 0 1px;
	background-color: red !important;
}

.select .option {
    padding: 10px 15px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
}
